<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list of user</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">

            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">WeGoMarket</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <form id="productForm" th:action="@{/productListForAdmin}" method="post">
                                <input hidden name="adminName" th:value="${adminName}">
                            </form>
                            <a href="#" onclick="document.getElementById('productForm').submit();">商品列表</a>
                        </li>
                        <li>
                            <a href="#">用户列表</a>
                        </li>
                        <li>
                            <form id="purchaseFormInProduct" th:action="@{/purchaseList}" method="post">
                                <input hidden name="adminName" th:value="${adminName}">
                            </form>
                            <a href="#" onclick="document.getElementById('purchaseFormInProduct').submit();">订单列表</a>
                        </li>
                        <li>
                            <a th:href="@{/productList}" >注销</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="row clearfix" style="margin: 60px;">
        <div class="col-md-12 column">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>邮箱</th>
                    <th>用户名</th>
                    <th>密码</th>
                    <th>编辑</th>
                    <th>删除</th>
                </tr>
                </thead>

                <tbody>
                <tr  th:each="user : ${users}">
                    <th scope="row" th:text="${user.id}">id here</th>
                    <td th:text="${user.email}">email here</td>
                    <td th:text="${user.nickName}">nickname here</td>
                    <td th:text="${user.passWord}">password here</td>
                    <td><a th:href="@{/editPage(id=${user.id})}">edit</a></td>
                    <td><a th:href="@{/delete(id=${user.id})}">delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <a href="/registerPage" th:href="@{/registerPage}" class="btn btn-info">添加用户</a>
        </div>
    </div>
</div>

</body>
</html>