<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单列表</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>

<div class="container" style="margin-top:60px;">
    <!--    导航栏-->
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">WeGoMarket</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <form id="checkProductListForm" th:action="@{/productListForUser}" method="post">
                                <input hidden name="userId" th:value="${userId}">
                            </form>
                            <a href="#" onclick="document.getElementById('checkProductListForm').submit();">选购</a>
                        </li>
                        <li>
                            <form id="checkShoppingChartForm" th:action="@{/shoppingChartList}" method="post">
                                <input hidden name="userId" th:value="${userId}">
                            </form>
                            <a href="#" onclick="document.getElementById('checkShoppingChartForm').submit();">查看购物车</a>
                        </li>
                        <li>
                            <a href="#" >查看订单</a>
                        </li>
                        <li>
                            <form id="selfEditForm" th:action="@{/selfEditPage}" method="post">
                                <input hidden name="userId" th:value="${userId}">
                            </form>
                            <a href="#" onclick="document.getElementById('selfEditForm').submit();">修改个人信息</a>
                        </li>
                        <li>
                            <a th:href="@{/}">注销</a>
                        </li>
                    </ul>
                </div>

            </nav>

        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <form th:action="@{/purchaseListForUserSpecific}" onsubmit="return judge()">
                <input hidden name="userId" th:value="${userId}">
                <input type="text" name="year" th:value="${year}" id="inputYear">年
                <input type="text" name="month" th:value="${month}" id="inputMonth">月
                <input type="text" name="day" th:value="${day}" id="inputDay">日
                <button name="mode" th:value="year" type="submit">查看年账单</button>
                <button name="mode" th:value="month" type="submit">查看月账单</button>
                <button name="mode" th:value="day" type="submit">查看日账单</button>
            </form>
        </div>
    </div>

    <!--选购栏-->
    <div class="row clearfix" >
        <div class="col-md-12 column">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>商品编号列表</th>
                    <th>商品名列表</th>
                    <th>商品数量列表</th>
                    <th>商品价格列表</th>
                    <th>总价</th>
                    <th>购买时间</th>
                    <th>完成</th>
                </tr>
                </thead>

                <tbody>
                <tr  th:each="purchase : ${purchases}">
                    <th scope="row" th:text="${purchase.id}"></th>
                    <td th:text="${purchase.productIdList}"></td>
                    <td th:text="${purchase.productNameList}"></td>
                    <td th:text="${purchase.productAmountList}"></td>
                    <td th:text="${purchase.productPriceList}"></td>
                    <td th:text="${purchase.total}"></td>
                    <td th:text="${purchase.purchaseTime}"></td>
                    <td>
                        <p th:if="${purchase.ok}" th:text="${purchase.ok}"></p>
                        <form th:unless="${purchase.ok}" th:action="ensurePurchase" method="post">
                            <input hidden name="purchaseId" th:value="${purchase.id}">
                            <input type="text" name="checkCode" placeholder="请输入验证码">
                            <button type="submit" class="btn btn-default">提交验证码</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>

</body>
</html>